.Paragraph-Style
{
	font-family: asap-n4, sans-serif;
}

#u2496-4
{
	font-family: asap-n4, sans-serif;
}

#u2458-4
{
	font-family: asap-n4, sans-serif;
}

#u5539-4
{
	font-family: asap-n4, sans-serif;
}

#u5666-4
{
	font-family: asap-n4, sans-serif;
}

#u5774-4
{
	font-family: asap-n4, sans-serif;
}

#u2483-4
{
	font-family: asap-n4, sans-serif;
}

#u5881-4
{
	font-family: asap-n4, sans-serif;
}

#u5308-2
{
	font-family: questrial-n4, sans-serif;
}

#u5308-4
{
	font-family: open-sans-i3, sans-serif;
}

#u2802-4
{
	font-family: asap-n4, sans-serif;
}

#u14097-4
{
	font-family: asap-n4, sans-serif;
}

#u14099-37,#u14098-13
{
	font-family: cabin-n4, sans-serif;
}

#u14094-6,#u14098,#u14098-6,#u14098-9
{
	font-family: cabin-n7, sans-serif;
}

