.Paragraph-Style
{
	font-family: asap-n4, sans-serif;
}

#u5308-2
{
	font-family: questrial-n4, sans-serif;
}

#u5308-4
{
	font-family: open-sans-i3, sans-serif;
}

#u2496-4
{
	font-family: asap-n4, sans-serif;
}

#u2458-4
{
	font-family: asap-n4, sans-serif;
}

#u5539-4
{
	font-family: asap-n4, sans-serif;
}

#u5666-4
{
	font-family: asap-n4, sans-serif;
}

#u5774-4
{
	font-family: asap-n4, sans-serif;
}

#u2483-4
{
	font-family: asap-n4, sans-serif;
}

#u5881-4
{
	font-family: asap-n4, sans-serif;
}

#u2802-4
{
	font-family: asap-n4, sans-serif;
}

#u1812-4,#u11336-2,#u11333-2
{
	font-family: open-sans-n4, sans-serif;
}

#u11339-2
{
	font-family: questrial-n4, sans-serif;
}

#u11336-3,#u11336-5,#u11336-14,#u11336-16,#u11333-3,#u11333-5,#u11333-10,#u11333-12,#u11339-4,#u11339-6,#u11339-8,#u11339-10,#u11339-14,#u11339-16,#u11339-17,#u11339-19,#u11339-21,#u11339-25,#u11339-27,#u11339-28,#u11339-32,#u11339-35,#u11339-36,#u11339-40,#u11339-42,#u11339-43,#u11339-47,#u11339-49,#u11339-50,#u11339-54,#u11339-56,#u11339-58,#u11339-60,#u11339-62,#u11339-63,#u11339-67,#u11339-69,#u11339-70,#u11339-74,#u11339-76,#u11339-78,#u11339-79,#u11339-83,#u11339-85,#u11339-86,#u11339-90,#u11339-92,#u11339-94,#u11339-96,#u11339-97,#u11339-101,#u11339-103,#u11339-104,#u11339-108,#u11339-110,#u11339-112,#u11339-114,#u11339-115,#u11339-119,#u11339-121,#u11339-122,#u11339-126,#u11339-128,#u11339-129,#u11339-131,#u11339-133,#u11339-137,#u11339-139,#u11339-141,#u11339-143,#u11339-144,#u11339-148,#u11339-150,#u11339-151,#u11339-155,#u11339-157,#u11339-158,#u11339-160,#u11339-162,#u11339-164,#u11339-168,#u11339-172,#u11339-176,#u11339-180,#u11339-184,#u11339-188,#u11339-189,#u11339-191,#u11339-195,#u11339-197,#u11339-201,#u11339-205,#u11339-209,#u11339-213,#u11339-217,#u11339-218,#u11339-220,#u11339-221,#u11339-223,#u11339-225,#u11339-229,#u11339-233,#u11339-234,#u11339-236,#u11339-238,#u11339-240,#u11339-244,#u11339-248
{
	font-family: cabin-n4, sans-serif;
}

