.Paragraph-Style
{
	font-family: asap-n4, sans-serif;
}

#u2496-4
{
	font-family: asap-n4, sans-serif;
}

#u2458-4
{
	font-family: asap-n4, sans-serif;
}

#u5539-4
{
	font-family: asap-n4, sans-serif;
}

#u5666-4
{
	font-family: asap-n4, sans-serif;
}

#u5774-4
{
	font-family: asap-n4, sans-serif;
}

#u2483-4
{
	font-family: asap-n4, sans-serif;
}

#u5881-4
{
	font-family: asap-n4, sans-serif;
}

#u5308-2
{
	font-family: questrial-n4, sans-serif;
}

#u5308-4
{
	font-family: open-sans-i3, sans-serif;
}

#u2802-4
{
	font-family: asap-n4, sans-serif;
}

#u2058-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1532.PamphletThumbSelected #u1639-4 p,#u1661-4
{
	font-family: asap-n4, sans-serif;
}

#u1666-4
{
	font-family: asap-n4, sans-serif;
}

#u11441-4
{
	font-family: asap-n4, sans-serif;
}

#u11458-4
{
	font-family: asap-n4, sans-serif;
}

#u1561-5,#u1563-5,#u1565-5,#u1562-5,#u1564-5,#u1566-5,#u11760-5,#u1676-5,#u1694-4,#u1696-5,#u13238-4,#u13239-4,#u13240-4,#u13878-4,#u13866-4,#u13854-4,#u14231-5,#u14219-5,#u14207-5,#u14533-4,#u14536-5,#u14539-4,#u14534-4,#u14537-5,#u14540-5,#u14535-5,#u14538-5
{
	font-family: lekton-n4, monospace;
}

