#stacks_in_318_page13_wrapper {
	padding: 20px;
	-webkit-box-shadow: inset 0px 0px 8px rgba(0,0,0,0.35);
	border-radius: 4px;
	background: url('http://dl.dropbox.com/u/64179093/RWtuts%20Resources/Background%20Patterns%20for%20Stacks/whitey.png') repeat;
}

#stacks_in_318_page13_header {
	color: #626263;
	text-shadow: #fefefc 0 1px 0;
	text-align: center;
	margin-bottom: 16px;
	font: bold 26px/30px "Helvetica Neue", Helvetica, sans-serif;
}

#stacks_in_318_page13_title {
	color: #626263;
	text-shadow: #fefefc 0 1px 0;
	text-align: left;
	margin-bottom: 16px;
	font: bold 13px/15px "Helvetica Neue", Helvetica, sans-serif;
}
